/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Main Container */
.main-container {
    display: flex;
    justify-content: space-between; /* Space between containers */
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: 20px;
}

/* Input Container */
.input-container,
.event-results-container,
.weather-container {
    width: 30%; /* Set width for each container */
    padding: 20px;
    border: 2px solid #333; /* Add border */
    border-radius: 10px; /* Add border-radius */
}

.input-container {
    background-color: #fff;
    gap: 13px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Event Results Container (Wider) */
.event-results-container {
    background-color: #aaa;
    width: 100%; /* Adjust the width as needed */
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Weather Container */
.weather-container {
    background-color: #565656;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#map-container {
    width: 50%;
    height: 400px; /* You can adjust the height as needed */
    border: 1px solid #ccc; /* Add a border for visibility */
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content Styles */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* Close Button Styles */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}